body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
}

.app {
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  border: 5px solid #efd57d;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar{
  width: 0 !important;
}

#tasks {
  display: grid;
  font-size: large;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 3px solid #3727e6;
  background-color: #becdf3;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}
#add{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    background-color: rgb(76, 227, 81);
    color:black;
    scale: 1.4;
    margin-left: 10px;
}