body {
  font-family: sans-serif;
  font-size: 2em;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app {
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  border: 5px solid #abcea1;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar{
  width: 0 !important;
}

#tasks {
  display: grid;
  font-size: large;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 3px solid #abcea1;
  background-color: #e2eede;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}